<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Directory Upload</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="upload-container">
    <h1>Upload Directory</h1>
    <div style="text-align: left;" class="message" th:if="${successMessage}">
        <p class="success-message" th:text="${successMessage}"></p>
    </div>

    <form action="/upload-directory" method="post" enctype="multipart/form-data">
        <div class="file-input">
            <input type="file" id="directory" name="files" webkitdirectory directory multiple>
            <label for="directory">Select a directory</label>
        </div>
        <button type="submit" id="uploadButton">Upload</button>
    </form>
</div>
<div class="analysis-panel">
    <h2>Analysis Results</h2>
    <div th:if="${analysisResult}" id="analysisResults">
        <p th:each="issue : ${analysisResult}" th:text="${issue}"></p>
    </div>
    <div style="color: #28a745" th:unless="${analysisResult}">
        No issues found!
    </div>
</div>

<script src="/js/script.js"></script>

</body>
</html>
